/* spacing */

table{
    table-layout: fixed;
    border-width: 100%;
}
  
  
th, td {
    padding: 8px;
  }

  /* typography */

html {
    font-family: Ubuntu, sans-serif; 
  }

thead {
    font-size: 1.6em;
    font-weight: bold;
  }

tfoot {
    font-size: .75em;
    
  }

th {
    letter-spacing: 1px;
    
  }
td {
    letter-spacing: 1px;

  }
tbody td {
    text-align: center;

  }
thead, tfoot  {
    text-align: center;
}

td.italic {
    font-style: italic;
}

  
  /* color */

thead, tfoot {
    background: #7fb9c2;
  }

tbody tr th {
    background-color: #628ca6;
    color: white;
  }

  tbody tr:nth-child(odd) {
    background-color: #e7ffed;
  }
  
  tbody tr:nth-child(even) {
    background-color: #e7f0ed;
  }
  
 
  table {
    background-color: lightgray;
  }

 tbody tr:nth-child(5) td:nth-child(3) {
    background-color:#628ca6;
    color: white;
 }
 table {
        box-shadow: 8px 8px 10px #628ca6;
 }
