/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 801px) {
    /*----------body-----------*/
    
    /*----------header---------*/
    #content {
        font-size: 1.5em;
    }
       
    

    /*.containerHead {
        display: flex;
        flex-direction: row;
    }*/

    /*.containerHead > .logo {
        align-content: flex-start;
        justify-content: flex-start;

    }

    .containerHead > .currentConditions {
        align-content: flex-end;
        justify-content: flex-end;
    

    }
    .containerHead > h1 {
        align-content: center;
    }*/
    .currentConditions {
        background-color: #Bfcc74;
        font-family: 'Rokkitt', serif;
        color: #152301;
        font-size: 1.1em;
        padding: .4em;
        margin: 1.5%;
        max-width: 150px;
        max-height: 150px;
     
       /* flex-direction: row;
        align-content: flex-end;*/
    }
    .currentConditions h1 {
        color: #152301;
        font-size: 1em;
    }
    
    
    /*----------navigation-------*/
    nav {
       
        background-color: #Bfcc74;
    

    }
    #primaryNav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    nav button {display: none;}
    
        nav ul.hide {
            
            /*display: block;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;*/
        }
    
        nav ul {
          
        }
    
        nav ul li a {
            border: 1px solid rgba(0,0,0,0.3);
            
           /* padding: .6rem 1rem;*/
        }
    /*-------------main-------------*/
    /*#weatherSum {
        background: #152301;
        color: #Bfcc74;
        width: 300px;
        height: 300px;
        margin: 2em;
        padding: 1em;
        position: absolute;
        left: 15px;
        top: 47px;
    }*/
    .forecast {
        background-color: #0B4956;
        margin: 2%;
        
    
    }
    .forecast h2 {
        color: #fdfefd;
        padding: 1em;
    }
    
   /*.sec2 {
        height: 500px;
    }*/
   .sec2 figure {
        width: 50%; 
        max-width: 600px;
        float: right;
        margin: 0;
    }
    /*.sec2 h1, .sec h2 {
        width:50%;
        float: left;
        margin: 0;
    }
   /*.sec2 p {
        width:50%;
        float: left;
        margin: 0;
    }*/
    
    .sec3 {
        height: 400px;
    }
    .sec3 iframe {
        width:50%;
        max-width: 600px;
        float: left;
        margin: 0;
    }
    .sec3 h3 {
        width: 50%;
        float: right;
        margin: 0;
    }

    #imageContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }   

    .shadow:hover {
        box-shadow: 10px 10px grey;
    }
    form label.sbs {
        padding: .4rem 0;
    }

    /*--------home-------*/

    #home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1em;
        padding: 1em;
    }
    
    /*-------------footer----------*/
    } 