/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 801px) {
    
    /*----------header---------*/
    .currentConditions {
        background-color: #Bfcc74;
        font-family: 'Rokkitt', serif;
        color: #152301;
        font-size: 1.1em;
        padding: .4em;
        margin: 1.5%;
        max-width: 150px;
        max-height: 150px;
    }
    .currentConditions h1 {
        color: #152301;
        font-size: 1em;
    }
    .title {
        font-size: 3em;
    }
    
    /*----------navigation-------*/
    nav {
       
        background-color: #Bfcc74;
    

    }
    #primaryNav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    nav button {display: none;}

        nav ul li a {
            border: 1px solid rgba(0,0,0,0.3);
            
        }
    /*-------------main-------------*/
    .forecast {
        background-color: #0B4956;
        margin: 2%;
       
    }
    .forecast h2 {
        color: #fdfefd;
        padding: 1em;
    }
    
   .sec2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
    }
    
    .sec3 {
        font-size: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
        margin: 2%;
    }

    .sec3 iframe {
        margin: 0;
    }
    
    .sec3 h3 {
        width: 50%;
    }

    #imageContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }   

    .shadow:hover {
        box-shadow: 10px 10px grey;
    }
    form label.sbs {
        padding: .4rem 0;
    }

    /*--------home-------*/

    #home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1em;
        padding: 1em;
    }
    
    /*-------------footer----------*/
}