/* 35em is also 560px when basefont is 16px */
@media screen and (min-width: 501px) and (max-width: 800px) {

    .currentConditions {
        display: none;
    }
    
       /*------------------table------------------*/
    /* spacing */

table{
    table-layout: fixed;
    border-width: 100%;
}
  
  
th, td {
    padding: 8px;
  }

  /* typography */

html {
    font-family: 'Martel Sans', sans-serif; 
  }

thead {
    font-size: 1.6em;
    font-weight: bold;
  }

tfoot {
    font-size: .75em;
    
  }

th {
    letter-spacing: 1px;
    
  }
td {
    letter-spacing: 1px;

  }
tbody td {
    text-align: center;

  }
thead, tfoot  {
    text-align: center;
}

td.italic {
    font-style: italic;
}

  /* color */
  table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;


}

thead, tfoot {
    background: #0B4956;
    color: #fdfefd;
  }

tbody tr th {
    background-color: #Bfcc74;
    color: #152301;
  }

  
  tbody tr:nth-child(even) {
    background-color: #e7f0ed;
  }
  
 
  table {
    background-color: #0B4956;
  }

  /*--------home--------*/
  #home {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    margin: 2%;
}


/*--------gallery------*/
    
    #imageContainer {
        grid-template-columns: 1fr 1fr;
    } 
    
    } 
    /*end medium */