
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 1025px) {
   /*---------header-----------*/
   
    .logo {
        margin-top: 1.8%;
        left: 15%;
        max-width: 25%;
        position: absolute;
    }
    #title h1{
        font-size: 4em;
        margin-top: -.5em;
        padding: 1em;
    }
    #title h2{
        margin-top: -4.5em;
       
    }
    
/*-----------navigation----------*/
    nav {
    background-color: #86828c;
}
#primaryNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav button {display: none;}

    nav ul li a {
    border: 1px solid rgba(0,0,0,0.3);   
    }


    /*--------home-------*/
    #homeImage {
        font-size: 1.5em;
    }
   
    #imageContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }   
    #services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        

    }

    .shadow:hover {
        box-shadow: 10px 10px grey;
    }
    .sec1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2.5%;
    }
  #reserveLink {
  position: absolute;
  top: 60%;
  right: 10%;
  }
  #intro {
    margin: 0 0 2% 5.2%;
  }
  #intro h2 {
      font-size: 2em;
  }
  #free {
    margin: 0 5.2% 2% 0;
  }
  #free h2 {
      font-size: 2em;
  }
#homePage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
}
#homePage h2 {
    margin-top: 6%;
}


/*--------services------*/

#information h2 {
    font-size: 2em;
}
#serviceImages {
    grid-template-columns: 1fr 1fr;
} 


  /*---------Reservations--------*/
  #reservations {
    display: grid;
    grid-template-columns: 1fr 1fr;

}



.formImages img{
    margin: 0 2% 0 8%;
    width: 85%;
}

/*--------Missionary-----*/
#missionarySuite {
    grid-template-columns: 1fr;
} 
#missionarySuite img {
    width: 85%;
}
#missionaryPage {
    grid-template-columns: 1fr 1fr;
}
/*----------Reception------*/
#reception1 {
   
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
}
#reception1 h2 {
    font-size: 2em;
}
    /*--------contacts-----*/
    
    iframe {
        margin-top: 2%;
    }
    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
        margin: 2%;
        font-size: .8em;
       
    }

    #contact p {
        font-size: 1.25em;
    
        
    }
/*---------Temples-------*/
#temples {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
    margin: 2%;
}

}