h1 {
    font-family: 'Cinzel', serif;
}
h3, p {
   margin: 0;
}
body { 
    background-color: #cbcae3;
}
p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

.center{
    text-align: center;
}
/* -----------header ----------*/

header {
    margin-top: -1em;
    background-color: #fafbfd;
    height: 200px;
    color: #86828c;

}
header h2 {
    font-family: 'Montserrat', sans-serif;
       
}
 .heading {
     color: #86828c;
     font-size: 1.15em;
 }



.logo {
   
    border-radius: 20px;
    border: 3px solid #86828C;
    max-width: 25%;
    
}


/* ----------navigation ----------*/

nav button {
      background: transparent;
      border: none;
      font-size: 1.6rem;
      color: #fafbfd;

  }
 
nav {
    background-color: #86828C;
    font-family: 'Montserrat', sans-serif;
      
    }

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;   
    
}

nav ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #fafbfd;
    border-top:1px solid rgba(0,0,0,0.3);
    text-align: center;

}

nav ul li a:hover {background-color: rgba(0,0,0,0.4);}

nav ul li .active {background-color: #ebe6c5; color: #86828c;}

.repsonsive li { display: block;}

nav ul.hide {display: none;}

ul.subMenu {
    position: absolute;
    background-color:#86828C;
    opacity:0;
  }
 
#primaryNav {
    font-size: 1.25rem;
    position: relative;
}
#primaryNav li:hover .subMenu{
    opacity:1;
}
.banner {
    width: 100%;
}

   /*-------Home-------*/

#imageContainer {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

.shadow img {
    width: 100%;
    height: auto;

}

#reserveLink {
    text-decoration:none;
    background-color: #fafbfd;
    padding: .6rem;
    color: #86828C;
    border-radius: 20px;
    border: 3px solid #86828C;
    
    


}
#intro {
    background-color:#fafbfd;
    color: #86828C;
    margin: 2%;
    padding: 2%;
    
}

#intro p{
    padding: 0 2% 0 2%;
}
#free {
    background-color:#fafbfd;
    color: #86828c;
    margin: 2%;
    padding: 2%;
    
}
#free li{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}
.sec1 h2 {
    font-family:'Cinzel', serif;

}
#homePage {
    background-color: #86828c;
    margin: 2%;
    color: #fafbfd;
    font-size: 1.15em;
    padding: 2%;
}
#homePage h2 {
    font-size: 1.7em;
    font-family:'Cinzel', serif;

}
#homePage ul {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    line-height: 2;
   
}
#homePage img {
    width: 98%;
}


/*--------services-------*/
#services {
    background-color: #fafbfd;
    margin: 2%;
    color:#86828C;
}
#services h2 {
    font-family:'Cinzel', serif;
}
#information p {
    padding: 0 6% 6% 6%;
    margin-bottom: -4%;
    
}
#information ul {
    margin-top: -4%;
    font-family: 'Montserrat', sans-serif;
    
}
#information li {
    font-weight: bold;
}
#serviceImages {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.25em;
    
    
    
}


/*---------Missionary------*/
#missionaryPage {
    display: grid;
   

}
#missionarySuite {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}
#missionarySuite img{
    width: 99%;
}
.missionComments {
    margin-top: 1em;
}

#missionaryForm {
    background-color:#86828C;
    color: #fafbfd;
    font-family: 'Montserrat', sans-serif;
    margin: 2%;
    padding: 2%;
    
}
#suiteInfo {
    background-color: #fafbfd;
    color: #86828C;
    margin: 2%;
    padding: 2%;
}
#suiteInfo p {
    padding: 4%;
    line-height: 1.6;
}
#missionarySuite {
    font-size: 1.25em;
}
/*--------Reception-------*/

#reception1 {
    background-color: #86828C;
    margin: 2%;
    display: grid;
}
#reception1 img{
    width: 99%;
}
.wedding {
    background-color: #fafbfd;
    margin: 2%;  
    color: #86828C;
    padding: 4%;
}
.wedding h2 {
    font-family:'Cinzel', serif;
}


/*---------Temples-------*/
#temples h2 {
    font-family:'Cinzel', serif;
}
#temples h3 {
    font-family: 'Montserrat', sans-serif;
}

.temple {
    background-color: #fafbfd;
    color: #86828c;
    text-align: center;
    margin-bottom: 2%;

}

#temples {
    margin: 2%;
}
.templePic {
    width: 96%;
}
.temple li{
    list-style: none;
    margin-left: -20%;
}

/*---------reservation---------*/
#reservations {
    display: grid;
    grid-template-columns: 1fr;

}
.formImages img{
    width: 98%;
}
.formImages {
    background-color:#fafbfd;
    margin: 2%;
    

}
.form {
    background-color: #86828c;
    color:#fafbfd;
    font-family: 'Montserrat', sans-serif;
    margin: 2%;
}
.form h1 {
    padding-top: 2%;
    margin: 2%;

} 

.form h2 {
    margin: 2%;
}
form fieldset {
    margin: 2rem 2%;
    border: 1px solid #ebe6c5;
    padding: .5em 2%;
}
form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;

}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    padding: .75rem;
    color: #86828c;
    width: 100%;
    max-width: 15rem;
    
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #fafbfd;
}
form input.submitBtn {
    border: none;
    background-color: #ebe6c5;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 4%;
    width: 96%;
    max-width: 15rem;
}
form label.top input:required {
    border-left:#B3003B solid 6px;
    

}
form label.top select:required {
    border-left:#B3003B solid 6px;
    

}
form label.top input:required:valid {
    border-left: #cbcae3 solid 6px;
}
form label.top select:required:valid {
    border-left: #cbcae3 solid 6px;
}

.thankyou {
    background-color: #cbcae3;
    color: #fafbfd;
    margin: 2%;
    padding: 1em;

}
.thankyou p {
    font-size: 1.25rem;
}
.thankyou h1 {
    margin-top: -.5em;
}

/*---------contacts-------*/
#contact { 
    display: grid;
    grid-template-columns: 1fr;
    background-color: #86828C;
    color: #fafbfd;
    margin: 2%;
    font-size: .8em;
    
  
}
#contact h2{
    font-family: 'Montserrat', sans-serif;
}
#contact p {
    margin-top: -.8em;
   
}
iframe {width: 100%; height: 300px;}

/*---------footer-------*/

#footer {
    background-color: #86828C;
    color: #fafbfd;
    font-family: 'Montsarrat', sans-serif;
   

}

@media screen and (max-width: 500px) {
    #missionaryPage {

    }
    header {
        height: 200px;
          
    }
  
    img.logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        
     }

        #title h1{
            font-size: 2em;
        }
  #title h2{
      font-size: 1em;
      margin-top: -1em;
  }
 
  #serviceImages img {
    width: 99%;
}
#information {
    padding: 2%;
}

.subMenu li{
    
    background-color: #cbcae3;
}
#missionarySuite img {
    width: 99%;
}

/*--------Contacts-------*/
  iframe {
      margin-top: 4%;
  }
   
}
/* ----Clearfix: Force an Element not to collapse ----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;

}